<img [src]="step.image_path" alt="step.image">
<p *ngIf="!editor" ><span [innerHtml]="step.text"></span><button mat-icon-button (click)="edit($event)"><mat-icon>edit</mat-icon></button></p>
<div class="NgxEditor__Wrapper" *ngIf="editor" (click)="$event.stopPropagation()">
    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
    <ngx-editor [editor]="editor" [(ngModel)]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
    <div>
        <button mat-icon-button (click)="save()"><mat-icon>save</mat-icon></button>

    </div>
</div>